---
import { Post } from '../lib/interfaces.js'
import { getPostLink } from '../lib/blog-helpers.js'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let title = post.Title
---

<div class="post-title-archives">
  {
    enableLink ? (
      <a href={getPostLink(post.Slug)}>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" />
            {title}
          </>
        ) : (
          title
        )}
      </a>
    ) : (
      <>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" />
            {title}
          </>
        ) : (
          title
        )}
      </>
    )
  }
</div>

<style>
  .post-title-archives {
    margin: 0;
    font-size: 1rem;
    color: var(--fg);
    line-height: 125%;
  }
  .post-title-archives a {
    font-size: 1rem;
    color: inherit;
    line-height: 125%;
    text-decoration: underline;
  }
  .post-title-archives a:hover {
    text-decoration: none;
  }
  .post-title-archives span,
  .post-title-archives img {
    display: inline-block;
    margin-right: 0.2em;
  }
  .post-title-archives span {
    font-size: 1em;
  }
  .post-title-archives img {
    width: 1.3em;
    height: 1.3em;
    vertical-align: sub;
  }
  @media (max-width: 640px) {
    .post-title-archives {
      font-size: 1rem;
    }
    .post-title-archives a {
      font-size: 1rem;
    }
  }
</style>
